@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Clan>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Clani</title>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#accordion-2").accordion({
                collapsible: true
            });
        });
    </script>

    <style>
        #accordion-2 {
            font-size: 10px;
        }
    </style>
</head>


<body>
    <h1>Clani</h1>
    <div id="accordion-2">
        @foreach (var clan in Model)
        {
            <p>@clan.ime</p>
            <div>
                <p>Priimek: @clan.priimek</p>
                <p>Starost: @clan.starost</p>
                @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Admin")
                {
                    <p>
                        <button onclick="deleteClan('@clan.ime')">Delete</button>
                    </p>
                    <p>
                        <button onclick="editClan('@clan.ime')">Edit</button>
                    </p>
                }
                <p>
                    <button onclick="showDetails('@clan.ime')">Izpis podatkov</button>
                </p>
            </div>
        }
    </div>
</body>

</html>
<script>
        function showDetails(ime) {
            
            window.location.href = '@Url.Action("Details2", "Home")?ime=' + ime;
        }
    </script>
<script>
    function editClan(naziv) {
        window.location.href = '@Url.Action("EditClan", "Home")?naziv=' + encodeURIComponent(naziv);
    }
</script>

<script>
    function deleteClan(name) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteClan", "Home")',
            data: { name: name },
            success: function (response) {
                location.reload();
            },
            error: function () {
                alert("Error deleting clan.");
            }
        });
    }
</script>